@font-face {
  font-family: "Poppins-SemiBold";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBoldItalic";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBoldItalic.woff") format("woff"), url("../fonts/Poppins-SemiBoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Thin";
  font-display: swap;
  src: url("../fonts/Poppins-Thin.woff") format("woff"), url("../fonts/Poppins-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-ThinItalic";
  font-display: swap;
  src: url("../fonts/Poppins-ThinItalic.woff") format("woff"), url("../fonts/Poppins-ThinItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 20px;
}

div {
  background: url("../img/USHI.png") 0 0 no-repeat;
}
